/* Base Styles (for larger screens) */
.cards {
    transition: all 0.3s;
    border-radius: 6px;
    width: 400px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    margin: 20px;
    font-family: monospace;
}

.cards:hover {
    transform: scale(1.15);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); /* Increase shadow on hover */
}

.iconsize {
    height: 30px;
    width: 30px;
    margin: 10px;
    color: #243d86;
}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.qualification {
    font-family: Georgia, serif;
    text-align: center;
    font-weight: bold;
    margin: 50px;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .cards {
        width: 100%; /* Full width for smaller screens */
        margin: 10px 0; /* Reduce margins */
    }

    .iconsize {
        height: 24px; /* Smaller icons for mobile */
        width: 24px;
        margin: 5px; /* Reduce margin for icons */
    }

    .cards-container {
        flex-direction: column; /* Stack cards vertically */
        align-items: center; /* Center cards */
    }

    .qualification {
        margin: 20px; /* Reduce margin */
        font-size: larger; /* Increase font size for better readability */
    }
}
