/* Base Styles (for larger screens) */
.vinod-image{
    transition: all 0.3s;
    height: 600px;
    width: 400px;
    margin-left: 100px;
}
.vinod-image:hover {
    transform: scale(1.15);
    
}

.Home-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

.hi{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 30px;
}

.heading-fulstack{
    font-family: Georgia, serif;
    color: #243d86;
}

.vinod{
    color: #612116;
}

.pera{
    color: #243d86;
    font-style: normal;
    font-weight: 400;
    font-family: serif;
}

.button{
    transition: all 0.3s;
    background-color: #243d86;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.button:hover{
    transform: scale(1.15);
    box-shadow: 0px 0px 20px rgba(14, 14, 13, 0.5);
    background-color: #076320;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .vinod-image {
        height: auto; /* Automatically adjust height to maintain aspect ratio */
        width: 100%; /* Full width */
        margin-left: 0;
        margin-bottom: 20px; /* Add some margin below for spacing */
    }

    .Home-container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .hi {
        font-size: 24px; /* Reduce font size for better readability on smaller screens */
        text-align: center; /* Center text for better appearance */
    }

    .heading-fulstack {
        text-align: center; /* Center heading text */
    }

    .pera {
        text-align: center; /* Center paragraph text */
        padding: 0 20px; /* Add some padding for better readability */
    }

    .button {
        width: 100%; /* Full width for better touch targets */
        padding: 10px; /* Increase padding for better touch targets */
        box-sizing: border-box; /* Ensure padding does not exceed container width */
        text-align: center; /* Center the button text */
    }

    .navbar-flex {
        flex-direction: column;
    }

    .logo-image-size {
        margin-left: 0;
        margin-bottom: 10px;
    }

    li a {
        margin: 10px 0;
    }

    .navbar-container {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .number {
        margin: 10px;
        font-size: smaller;
    }

    .list {
        margin: 5px 0;
    }
}
